body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}
.container {
  padding: 0 1rem;
}

html {
  scroll-behavior: smooth;
}
